# tkinter & pyinstaller build + distribution files
build/
dist/
freezerworks_processor.spec

# python environment
venv/

# personal certificate files (secrets)
freezerworks.pennstatehealth.net.crt

# random code archive
Others/
